
 <header class="header-wrapper header-wrapper--home">
    <div class="container d-flex justify-content-between h-100">
        <!-- Logo link-->
      <div class="">
        <a href='<%= root_path %>' class="logo">
            <img alt='logo' src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png">
        </a>
      </div>
        
        <div class="d-flex align-items-center w-50">
          <div class="form-outline w-100">
            <input type="search" id="form1" class="form-control" />
          </div>
          <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
        
        <!-- Additional header buttons / Auth and direct link to booking-->
        <div class="align-items-center">
               <% if user_signed_in? %>
                          <div class="dropdown d-inline-block h-100">
                            <button type="button" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class=" d-xl-inline-block ml-1">
                                  <a
                                            class="dropdown-toggle d-flex align-items-center"
                                            href="#"
                                            id="navbarDropdownMenuLink"
                                            role="button"
                                            data-mdb-toggle="dropdown"
                                            aria-expanded="false"
                                          >
                                            <img
                                              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                                              class="rounded-circle"
                                              height="22"
                                              alt="Portrait of a Woman"
                                              loading="lazy"
                                            />
                                          </a>
                                </span>
                                <i class="mdi mdi-chevron-down  d-xl-inline-block"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="<%= account_path(current_user) %>"><i
                                        class="bx bx-wallet font-size-16 align-middle mr-1"></i> Hồ sơ</a>
                    
                                <a class="dropdown-item d-block" href="#"><span
                                        class="badge badge-success float-right">11</span><i
                                        class="bx bx-wrench font-size-16 align-middle mr-1"></i> Thông báo</a>
                                <div class="dropdown-divider"></div>
                                <%= button_to  destroy_user_session_path, method: :delete,class: "dropdown-item text-danger" do%>
                                    <i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i>Đăng Xuất
                                <% end  %>
                            </div>
                        <% else %> 
                           <div class="d-flex login-form align-items-center h-100 text-white">
                              <i class="fas fa-video m-3"></i>
                              <div>
                                <span><%= link_to "Đăng Nhập", new_user_session_path, class: "text-white" %></span>
                                <span class="m-3">VN | EN</span>
                              </div>
                           </div>
                        <% end %>
        </div>

    </div>
</header>  
         
         