
        <div class="search-wrapper">
            <div class="container container--add">
                <%= search_form_for @search, class: "search" do |f| %>
                    <div class="form-group d-flex">
                        <%= f.text_field :age_limit_lteq, class: "search__field w-50 d-none d-lg-block", placeholder: "Độ tuổi >="  %>
                        <div class="w-100">
                            <%= f.text_field :key_cont, class: "search__field", placeholder: "Search" %><br>
                            <select name="Scope" id="search-sort" class="search__sort" tabindex="0">
                                <option value="1" selected='selected'>Tên Phim</option>
                                <option value="2">Thể loại</option>
                                <option value="3">Quốc gia</option>
                                <option value="4">Đạo diễn</option>
                                
                            </select> 
                        </div>  
                        
                    </div>  
                    <div class="text-center">
                        <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
                    </div>
                <% end %>
            </div>
           
        </div>
       
        <div class="w-75 m-auto"> 
            <div class="alert alert-success">
                <span class='icon-bell'></span>
               Bạn có thể tìm kiếm theo độ tuổi hoặc từ khóa bạn muốn !
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true"></a>
            </div>
        </div>
            
    



