body{
    font-family: 'Open Sans', sans-serif;
    
}
.logo{
    display: flex;
    justify-content: center;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 50px;
}
.left-content,.right-content{
    flex-basis: 25%;
    margin-left: 30px;
    margin-right: 40px;
}
.container_resgiter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_resgiter::after{
    content: '';
    background: gray;
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    
}
.right-content > h1{
    font-weight: 500;
}
.label-group{
    display: block;
    font-size: 15px;
    color: #16191f;
    font-weight: 500;
    line-height: 20px;
}
.reset-magin{
    margin: 0;
    padding: 0;
}
p.reset-magin{
    font-size: 12px;
    color: #687078;
    line-height: 16px;
}
input[type=text],input[type=password],input[type=email],input[type=date]{
    border: 1px solid #aab7b8;
    outline: none;
    width: 95%;
    padding: 7px;
    margin-top: 5px;
    border-radius: 3px;
}
.content_post{
    width: 95% !important;
}
.textarea.form-control{
    width: 95%;
}
input[type=text]:focus,input[type=password]:focus {
    border: 1px solid #00a1c9;
    outline: 2px dotted transparent;
    box-shadow: 0 0 0 1px #00a1c9;
  }

.btn-submit{
    width: 95%;
    background: #ec7211;
    color: #fff;
    border-radius: 3px;
    outline: none;
    border:1px solid transparent;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 0px;
}
.btn-submit:hover{
    background: #eb5f07;
}
a.haved-account{
    color: #0073bb;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
}
a.haved-account:hover{
    text-decoration: underline;
}
.validator p.error-mes{
    color: red;
}
.alert-primary {
    color: #2c3978;
    background-color: #dde2fa;
    border-color: #cfd6f8;
}
.alert-danger {
    color: #7f3737;
    background-color: #fde1e1;
    border-color: #fcd5d5;
}
.alert {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.post_image_conver{
    object-fit: contain;
}

@media screen and (max-width: 1200px) {
    .left-content,.right-content{
        flex-basis: 25%;
    }
}
@media screen and (max-width: 992px) {
    .left-content,.right-content{
        flex-basis: 40%;
    }
}
@media screen and (max-width: 768px) {
    .container_resgiter{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
    .container_resgiter::after,.hero-img{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .left-content,.right-content{
        flex-basis: 40%;
    }
  }  

